<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header id="header">
        <div class="logo">
            <img src="../static/img/logo.svg" alt="Logo Institucional">
        </div>
    </header>
    <main class="">
        <section class="about-us">
            <h1>Sobre Nosotros</h1>
            <p>
                ¡Bienvenidos a Missing Pets, tu refugio virtual para encontrar y reportar mascotas perdidas y
                encontradas! En Missing Pets, entendemos que las mascotas son más que simples animales; son miembros
                valiosos de nuestras familias, compañeros leales y fuentes infinitas de alegría y amor incondicional.
            </p>
        </section>
        <section class="mission">
            <article>
                <h2>Nuestra Misión</h2>
                <p>
                    Nuestra misión es simple pero poderosa: reunir a las mascotas perdidas con sus amados dueños.
                    Sabemos que perder una mascota es una experiencia desgarradora y angustiante. Por eso, hemos creado
                    una plataforma fácil de usar, diseñada para facilitar el proceso de búsqueda y reporte de mascotas
                    perdidas y encontradas, brindando esperanza y consuelo a las familias durante estos momentos
                    difíciles.
                </p>
            </article>
        </section>
        <section class="how-we-work">
            <article>
                <h2>¿Cómo Funcionamos?</h2>
                <p>
                    Missing Pets, puedes:
                    Reportar una Mascota Perdida: Si tu mascota ha desaparecido, puedes crear un reporte con su
                    descripción, fotos y cualquier información relevante. Nuestro sistema se encargará de difundir el
                    mensaje a nuestra comunidad, aumentando las posibilidades de que tu amigo peludo regrese a
                    casa.</br>
                    Reportar una Mascota Encontrada: Si has encontrado una mascota que parece perdida, puedes reportarlo
                    en nuestra plataforma. De esta manera, ayudamos a los dueños preocupados a reunirse con sus
                    compañeros lo más rápido posible.</br>
                    Explorar Reportes: Nuestra base de datos de reportes de mascotas perdidas y encontradas está siempre
                    disponible para que puedas explorar y ver si hay alguna coincidencia con tu mascota o si puedes
                    ayudar a otra persona a encontrar la suya.
                </p>
            </article>
        </section>
        <section class="commitment">
            <article>
                <h2>Compromiso</h2>
                <p>
                    Nos comprometemos a ser una luz de esperanza y un puente de conexión en los momentos de
                    incertidumbre.
                    Cada historia de reencuentro nos motiva a seguir mejorando y ofreciendo las mejores herramientas
                    para la
                    comunidad.
                    Creemos en la magia de los reencuentros y en la importancia de cada pequeña ayuda que podamos
                    brindar.

                </p>
            </article>
        </section>
        <section class="join-us">
            <article>
                <h2>Únete a Nuestra Comunidad</h2>
                <p>
                    Te invitamos a ser parte de nuestra comunidad. Juntos, podemos hacer una diferencia significativa en
                    la
                    vida de muchas mascotas y sus dueños. Tu colaboración, ya sea reportando una mascota perdida,
                    compartiendo reportes, o simplemente brindando apoyo emocional, es invaluable.
                </p>
                <p>
                    En Missing Pets, estamos aquí para ti y tus amadas mascotas, porque sabemos que cada colita que se
                    menea, cada ronroneo, y cada mirada amorosa tiene un lugar especial en nuestros corazones.
                </p>
                <p>
                    Gracias por confiar en nosotros y por ser parte de esta misión de amor y esperanza. ¡Juntos, podemos
                    traer a más mascotas de vuelta a casa!
                </p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Nuestro Sitio Web</p>
    </footer>
    <script type="module" src="../main.js"></script>
</body>

</html>