<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Listado de Mascotas</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header id="header"></header>
  <main class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="carousel">
          <h1>Listado de Mascotas</h1>
          <div id="petsList"></div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Nuestro Sitio Web</p>
  </footer>
  <script src="../script/lp.js"></script>
  <script type="module" src="../main.js"></script>
</body>

</html>